*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    width: 100vw;
    height: 100vh;
}

header{
    height:100px;
    background-color: #f7d999;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #631b0b;
    flex: 1 1 0%;
}

ul{
    display: flex;
    list-style-type: none;
}

ul li a {
    padding: 0px 20px;
    text-decoration: none;
    display: inline-block;
    color: purple;
}

main{
    display: flex;
    border: 2px solid gold;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 60vh;
    background-color: #370f06;
    color: white;
    flex: 1 1 0%;
}

.hero-img{
    display: flex;
    width: 250px;
    border-radius: 20px;
    margin: 3em;
}

.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3em;
    padding: 3em;
    flex-wrap: wrap;
}


h1{
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 10px;
}
h2{
    margin-bottom: 10px;
}

p{
    margin-bottom: 15px;
    width: 500px;
    font-size: 18px;
}
