*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.first-section{
    background-color: burlywood;
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px 0px;
    color: black;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 40px;
    font-size: 20px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0px;
}

.left-content {
    padding: 60px;
    margin-left: 15px;
}

h1,h2{
    margin-bottom: 10px;
}

.first-para{
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 10px;
}

img {
    border-radius: 8px;
}

button {
    background-color: brown;
    padding: 10px;
    color: whitesmoke;
    font-weight: 900;
    margin-top: 10px;
}

.second-section {
    display: flex;
    flex-direction: column;
}

.title {
    align-self: center;
    margin-top: 50px;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 50px;
}

.img-container p {
    text-align: center;
    font-size: 18px;
    text-decoration: underline;
    margin: 10px;
    font-weight: 500;
}

.third-section {
    background-color: #214778;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.quote{
    display: flex;
    align-self: center;
    font-size: large;
    padding: 40px;
    font-style: italic;
}

.source {
    display: flex;
    align-self: center;
    font-size: 18px;
    font-weight: 800;
}

.section-four {
    background-color: burlywood;
    display: flex;
    margin: 100px 500px;
    padding: 20px;
    justify-content: space-around;
}

.cta {

}

.cta-button{
    align-self: center;
}
